.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

#pdf-viewer {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.pdf-page-canvas {
    display: block;
    width: 100%;
    margin: 5px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

form input[type="file"] {
    display: none;
	position: absolute;
}
html,body{ margin:0; padding:0; height:100%; width:100%; font-family: 'Roboto', sans-serif; }
#fileBrowserPopup
{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.fileBrowserBackground
{
    background-color: rgba(44, 62, 80,0.9);
    width: 100%;
    height: 100%;
}
.fileBrowserContainer
{
    background-color: rgba(236, 240, 241,1.0);
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23BDC3C7FF' stroke-width='4' stroke-dasharray='21' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
a.button6 {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}
a.button-green
{
    background-color: #00E2B0;
}
a.button-grey
{
    background-color: rgba(127, 140, 141,1.0);
}
a.button6:active {
    top: 0.1em;
}
.icon
{
    padding-bottom: 20px;
}
label
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.fileBrowserText
{
    font-weight: 700;
    margin-bottom: 20px;
    color: rgba(127, 140, 141,1.0);
}
@media all and (max-width: 30em) {
    a.button6 {
        display: block;
        margin: 0.4em auto;
   }
}
.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}
@keyframes bouncy {
    0% {
        top: 0em;
   }
    40% {
        top: 0em;
   }
    43% {
        top: -0.9em;
   }
    46% {
        top: 0em;
   }
    48% {
        top: -0.4em;
   }
    50% {
        top: 0em;
   }
    100% {
        top: 0em;
   }
}

.tingle-force-overflow
{
    overflow-y: scroll !important;
}
